/* Global Styles */
*,
*::before,
*::after {
  box-sizing: inherit; 
}

body, h1, h2, h3, h4, p, figure, blockquote, ul, ol {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}


/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


/* Colores */
:root{
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 90%);
  --white: hsl(0, 0%, 100%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --darker-grayish-cyan:  hsl(186, 14%, 43%);
  --strong-cyan: hsl(172, 67%, 45%);
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--light-grayish-cyan);
}



main {
  
  background-color: var(--white);
  border-radius: 10px;
}

label, h2 {
  font-size: 16px;
  font-weight: bold;
  color: var(--darker-grayish-cyan);
}

label.custom-tip span {
  text-indent: 1000px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;;
}

.input-col, .output-col {
  border-radius: 10px;

}


.input-col button {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  border: none;
  width: 120px;
  border-radius: 10px;
  padding: 12px;
}

.input-col input {
  font-weight: 700;
  font-size: 24px;
  border: none;
  width: 120px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  color: var(--very-dark-cyan);
  outline-color: var(--strong-cyan);

}



input[type=numeric] + h2 {
  margin-bottom: 0px;
  margin-top: 36px;
}


input + h2, button + h2 {
  margin-top: 32px;
}
.output-col h2 {
  color: var(--white);
}

.output-col p {
  font-weight: 700;
  color: var(--dark-grayish-cyan);
}

.output-col .output-number {
  font-weight: 700;
  font-size: 48px;
  color: var(--strong-cyan);
  text-align: right;
}

.output-col {
  background-color: var(--very-dark-cyan);
  
}

button.reset {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

button.reset, button.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

button.custom {
  background-color: var(--lighter-grayish-cyan);
  color: var(--very-dark-cyan);
}



input[type=search], input[type=number]  {
  font-size: 24px;
  font-weight: 700;
  color: var(--very-dark-cyan);
  font-family: 'Space Mono', monospace;
  text-align: right;
  width: 100%;
  border: none;
  background-color: var(--lighter-grayish-cyan);
  background-repeat: no-repeat;
  background-position:  2% 50%;


}

/* sacar la X que aparece en el campo search */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


section input[name=input-bill-total] {
  background-image: url(images/icon-dollar.svg);
  margin: 0;
}

section input[name=input-persons-total] {
  background-image: url(images/icon-person.svg);
}

p.output-number {
  margin: 0;
  line-height: 0.8;
}



